/*Обнуление*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a:hover{
	transition: .1s;
	color: #77B292;
	text-decoration: none;

}
a{
    color: #fff;
	text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}
html,
body{
    height: 100%;
    line-height: 1;
    font-size: 18px;
	 font-family: Poiret One;
	 font-weight: 400;
	 scroll-behavior: smooth; /**плавная прокрутка по якорям*/
}
.wrapper {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    -webkit-box-shadow: 0px 5px 45px 5px rgb(76 76 76 / 30%);
    -moz-box-shadow: 0px 5px 45px 5px rgb(76 76 76 / 30%);
    box-shadow: 0px 5px 45px 5px rgb(76 76 76 / 30%);
}

.header {
    margin: 0;
    list-style: none;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B66A54;
    padding: 30px 30px;
    position: fixed;
    width: calc(100% - 30px);
    box-sizing: border-box;
    z-index: 1000;
}

.menu{
    padding: 0px 25px;
    width: 100%;
    position: static;
}
.menu__list{
    display: flex;
    justify-content: space-between;
}
.menu__item{
    padding: 0px 10px;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.avatar{
    display: flex;
    justify-content: center;
}
.avatar img{
    height: 100%;
    width: 100%;
}
.main{
    padding-top: 78px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.block__left{
    width: 35%;
    background-color: #1B0802;
}
.block__rigth{
    width: 65%;
}
.block-info{
    padding: 40px 0px 20px 50px;
}
.cv__h2{
    font-size: 30px;
    margin-bottom: 15px;
    padding-bottom: 7px;
    border-bottom: 2px solid #B6877A;
}
.cv__h2__rigth{
    font-size: 30px;
    margin-bottom: 15px;
    padding-bottom: 7px;
    border-bottom: 2px solid #000;
}
.cv__h2-white{
    color: #fff;
}
.cv__h2-black{
    color: #000;
}
.name{
    
  padding: 40px 60px;
    margin-top: 80px;
    background-color: #B6877A;
    color: #000;
}
.Maryna{  
    font-weight: 900;
    font-size: 46px;
}
.developer{
    margin-top: 20px;
    font-weight: 600;
    font-size: 30px;
}
.block__list{
    color: #fff;
    padding: 0px 10px;
}
.list-contact{
   padding-top: 20px;
   display: flex;
}

.icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.contact_text{
    display: flex;
    align-items: center;
}
.link{
    border-bottom: 1px solid #ffffff;
}
.link:hover{
    font-size: 22px;
    border-bottom: 0px solid #ffffff;
    transition: 0.1s;
}
.block__info__rigth{
    padding: 40px 50px 10px 50px;
}
.text_info{
    padding: 20px;
    font-size: 20px;
}
.text_info1{
    padding: 0px;
    font-size: 20px;
}

pre code.hljs {
    background-color: var(--bg);
}
.code{
    padding: 0px 30px;
}
.portfolio__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
}
.portfolio__item{
    width: 30%;
}
.portfolio__item a{
    color: #000;
}
.portfolio__item img{
    width: 100%;
    margin-bottom: 8px;
}
.portfolio__info p{
    padding: 3px 10px;
    font-size: 14px;
}
.experience{
    padding: 0px 50px 10px 50px;
}